<h1> To do List </h1>

<% @tasks.each do |task| %>
 <h2><%= task.task %></h2>
 <%= link_to "show", task_path(task)%>
 <%= link_to "delete", task_path(task),
  method: :delete,
      data: { confirm: "Are you sure?" }%>


 <% end %>
